@import '../../../styles/settings.scss';

.single-product{

    img {
        height: 200px;
        align-self: center;
    }

    p:first-of-type {
        margin: 10px 0 0 0;
        font-weight: bold;
    }

    p {
        margin: 10px;

        span {
            font-weight: bold;
        }
    }
}